params{

    genetic_structure = false

    //description of "genetic_structure" --> Setting this to "false" will skip the processing of this entire module, meaning all the following options will be disabled. Default: false

    run_smartpca = true

    //description of "run_gds_pca" -->  Run PCA using the method implemented in smartpca tool of eigensoft. Default: false

    run_gds_pca = true

    //description of "run_gds_pca" --> Run PCA using the method implemented in snprelate package of R. Default: true

    ld_filt = true

    //description of "ld_filt" --> Whether or not to apply ld-based pruning of the dataset before running PCA or/and admixture analysis. Default: true.

    ld_window_size = 50 

    //description of "ld_window_size" --> Window size for LD calculation in plink. Default: 50

    ld_step_size = 10 

    //description of "ld_step_size" --> Step size for LD calculation in plink. Default: 10

    r2_value = 0.01

   //description of "r2_value" -->  r2 value of a SNP pair above which one of the SNPs will be discarded. Default: 0.05

    structure_remove_indi = "none"

   //description of "structure_remove_indi" --> Path to the file containing list of individuals to be removed before running PCA and/or admixture. Note that this file should contain two columns: first column as population_id and second column as sample id to be removed. Default: "none".

    smartpca_param = "none"

   //description of "smartpca_param" --> Path to the file containing additional/optional parameters to apply to smartpca. To see the list of these parameters:https://github.com/chrchang/eigensoft/blob/master/POPGEN/README. Note that six parameters file are already set internally by scalepopgen:"genotypename","snpname","indivname","evecoutname","evaloutname" and "numchrom". Default: "none"

    pop_color_file = "none" 

    //description of "pop_color_file" --> Path to the file containing hex color codes of each population to be plotted. This file should contain data in two columns: first column as pop_id and second column as color hex code. If no such file is provided, random colors will be chosen. Default: "none"

    f_pop_marker = "none" 

    //description of "f_pop_marker" --> Path to the file containing first column as population id and second column as marker shape. Available markers shape are listed in "/extra/markershapes.txt". If file is not provided, random marker shapes will be selected.

    pca_yml = "${baseDir}/parameters/plots/pca.yml" 

    //description of "pca_plot_params" --> path to the yaml file containing the paramterers to plot interactive PCA results. Refer to "/parameters/interactive_pca_plot/pca_params.yml"

    admixture = true

    //description of "admixture" --> Whether to run admixture analysis. Default: false

    starting_k_value = 1

    //description of "starting_k_value" -->  Starting range of "K" value to run admixture analysis. Default: 1

    ending_k_value = 2

    //description of "ending_k_value" --> Ending range of "K" value to run admixture analysis. Default: 10

    cross_validation = 5 
    
    //description of "cross_validation" --> Number of cross validations to be run on the results of each "K" value of admixture. Default: 5

    termination_criteria = 0.0001 

    //description of "termination_criteria" --> Termination criteria of admixture tool. Default: 0.0001

    plot_pop_order = "none" 

    //description of "plot_pop_order" --> Path to the text file containing population ids in the order in which the Q-matrix of admixture should be plotted. Default: "none"
	
    fst_based_nj_tree = true

    //description of "fst_based_nj_tree" --> Whether or not to estimate NJ tree based on average pairwise Fst distances between each pair of populations. Default: false

    fst_nj_yml = "${baseDir}/parameters/plots/fst_nj.yml"

    //description of "fst_nj_yml" --> Path to the yaml file containing parameters of plotting interactive NJ tree. Refers to "/parametes/plots/fst_nj.yml"

    admixture_yml = "${baseDir}/parameters/plots/admixture.yml"

    //description of "admixture_yml" --> Path to the yaml file containing parameters of plotting interactive Q matrix of ADMIXTURE tool. Refers to "/parametes/plots/admixture.yml"

   est_1_min_ibs_based_nj_tree = true

   //description of "est_1_min_ibs_based_nj_tree" -->  Whether or not to estimate NJ tree based on 1-ibs distances between each pair of samples in the dataset.

   ibs_nj_yml = "${baseDir}/parameters/plots/ibs_nj.yml"

   //description of "ibs_nj_yml" --> Path to the yaml file containing the parameters to plot interactive IBS-based NJ tree. Refers to "/parameters/plots/ibs_nj.yml"
}
