params{
    // general parameters
    
    apply_indi_filters = false

    //description of "apply_snp_filters" --> Whether or not to perform sample filtering. Note that setting this to false overrides all parameters associated with sample filtering. In other words, sample filtering will not be carried out irrespective of arguments set for --king_cutoff, --rem_indi or --mind. Default: false

    king_cutoff = 0.08 

    //description of "king_cutoff" --> King relationship coefficient value above which the pairs of individuals are considered to be related. Based on these pairwise values, plink2 will output the unrelated samples. Setting this to any negative value or zero will skip this parameter

    rem_indi = "/home/maulik/data/Shared/Maulik/projects/scalePopgen/tools/input_vcf/samples_to_be_removed.txt"

    //description of "rem_indi" --> Path to the file containing the list of custom individuals to be removed. Note that in case of vcf file, this file should only consist of one column of individual id. In the case of plink generated binary files, this file consists of two columns, first column as population id and second column as individual id. Setting this to "none" will disable this flag. Default:"none"
 
    mind = 0.10 

    //description of "mind" --> Samples with missing genotypes greater than this will be removed. Setting this to any negative value will disable this parameter.

   indiv_summary              = false

    // description of "indiv_summary" --> calculate sample-based summary statistics from vcf files, only after applying individual and sites based filtering

    // sites-filtering parameters
    
   apply_snp_filters = false

    //description of "apply_snp_filters" --> Whether or not to perform site filtering. Note that setting this to false overrides all other sites-filtering parameters. In other words, sites-filtering will not be carried out irrespective of any parameters set for --remove_snps,  --maf, --min_meanDP, --max_meanDP, --hwe, --max_missing and --minQ. Note that, depending on the input files, these parameters may or may not be applied. For example, depth-related information and SNP quality information are not available (of course) for plink bed files and therefore, these parameters will be ignored in that case. However, parameters like max_missing, hwe and maf are applied to vcf as well as to plink-bed files. Default: true 

    remove_snps = "none" 

    //description of "remove_snps" --> path to the file containing SNP ids to be removed in case of plink-bed files. In case of vcf file, this file should contain two columns: first column as chromsome_id and second column as position to be removed. Setting this to "none" will disable this flag. Default: "none"

    maf = 0.01 

    //description of "maf" --> Sites with minor allele frequencies less than this will be filtered. Setting this to any negative value or zero will skip this parameter. Default: 0

    min_meanDP = -9

    //description of "min_meanDP" --> Sites with average depth (across the samples) less than this will be filtered out. Setting this to any negative value will skip this parameter. Default: -9

    max_meanDP = -9

    //description of "max_meanDP" --> sites with average depth (across the samples) greater than this will be filtered out. Setting this to any negative value will skip this parameter. Default: -9

    hwe = -9 

    //description of "hwe" --> Sites with p-value (HWE) less than this will be filtered out. Setting this to any negative value will skip this parameter. Default: -9

    max_missing = -9 

    //description of "max_missing" --> Sites which genotypes are missing in higher proportion than set here, will be filtered out. Setting this to any negative value will skip this parameter. Default: -9

    minQ = -9 

    //description of "minQ" --> Sites with SNP quality less than this will be filtered out. Setting this to any negative value will skip this parameter. Default:-9

}
