params{
    
   // sig selection unphased data 

   sig_sel                    = false
   
   //description of "sig_sel" --> setting this to "false" will skip processing this entire module, meaning all the following options will be disabled. Default: true

   tajima_d                   = false

   //description of "tajima_d" --> setting this to "true" will calculate Tajima's D statistic in windows that are specified by option "tajimasd_window_size". Default: true

   pi                         = false

   //description of "pi" --> setting this to "true" will calculate the nucleotide diversity in windows or per sites, depending on "pi_window_size" and "pi_step_size" options below. Default: true

   pairwise_fst               = false

   //description of "pairwise_fst" --> setting this to "true" will estimate Fst between every population pair combinations. Calculations based on Weir and Cockerham's method are done in windows or per sites, depending on "fst_window_size" and "fst_step_size" options below. Default: true

   single_vs_all_fst          = false

   //description of "single_vs_all_fst" --> setting this to "true" will estimate Fst between pairs, where we have one population comparing to combined all other population in dataset. Depending on "fst_window_size" and "fst_step_size" options below, it will be calculated per site or in windows. Default: true

   skip_chrmwise              = false

   //description of "skip_chrmwise" --> calculations of Tajima's D, pi and Fst can be done separatly for each chromosome (false) or combined for whole genome (true). Default: false

   skip_phasing               = false

   //description of "skip_phasing" --> skipping the phasing (true) in case the user alredy has the phased data that is needed for calculation of iHS and XP-EHH. Default: false

   skip_pop                   = "none"

   //description of "skip_pop" --> path to the file containing a list of population IDs that will not be used for ???? . Default: "none"

   skip_sel_outgroup          = true

   //description of "skip_sel_outgroup" --> setting this to "true" will exclude the outgroup in the analyses of ???. Default: true

   min_samples_per_pop        = 9

   //description of "min_samples_per_pop" --> populations with number of samples lower than treshold provided here will be excluded in the analyses of ???. Default: true

   tajimasd_window_size       = 50000

   //description of "tajimasd_window_size" --> window size for Tajima's D calculation. Default:

   fst_window_size            = 50000

   //description of "fst_window_size" --> window size for Fst calculation. Default: 

   fst_step_size              = 10000

   //description of "fst_step_size" --> step size for Fst calculation. Default: 

   pi_window_size             = 50000

   //description of "pi_window_size" --> window size for pi calculation. Default:

   pi_step_size               = 10000

   //description of "pi_step_size" --> step size for pi calculation. Default:


   
   //sweepfinder2 parameters

   clr                        = false

   //description of "clr" --> setting this to "true" will calculate composite likelihood ratio (CLR). Default: true

   anc_files                  = "create" //option--> "create","none","csv file containing the path to anc files"

   //description of "anc_files" --> detecting ancestral allels for the analyses of CLR, iHS and XP-EHH (Options: "create","none","path to csv file with listed anc files") . With "create" the module will create input files based on outgroup selected in general parameters. The user can also provide path to the csv file with own ancestral files or skip this option with "none". Default: "create"

   grid_space                 = 50000

   //description of "grid_space" --> user-defined space between grid-points, option "g" of SweepFinder2. Default: 

   grid_points                = 0 

   //description of "grid_points" --> user-defined number of equally spaced points to be tested, option "G" of SweepFinder2. Default:

   use_precomputed_afs        = true

   //description of "use_precomputed_afs" --> if set to true it will perform a scan for selective sweeps with pre-computed empirical frequency spectrum, option "-l" of SweepFinder2. Default:

   use_recomb_map             = "default"

   //description of "use_recomb_map" --> if set to "default" it will create recombination rate input file to perform a scan for selective sweeps with pre-computed empirical frequency spectrum and a recombination map, option "-lr" of SweepFinder2. Other options are "none", which will not perform it, or "path" Default:


   //selscan parameters

   ihs                        = true

   //description of "ihs" --> setting this to "true" will compute iHS. Default: true

   nsl                        = false 

   //description of "nsl" --> this option is not implemented yet. Default: false

   xpehh                      = true

   //description of "xpehh" --> setting this to "true" will compute xpehh. Default: true

   selscan_map                = "none"  

   //description of "selscan_map" --> if "none" it will create mapfile with genetic and physical positions for each variant site. The other option is providing path to csv file containing two columns: chromomosme name, mapfile. Default: "none"

   ihs_args                   = "none"

   //description of "ihs_args" --> optional parameters that can be applied to iHS computation. Please check the list of these parameters here: https://github.com/szpiech/selscan/blob/master/manual/selscan-manual.pdf. Default: "none"

   xpehh_args                 = "none"

   //description of "xpehh_args" --> optional parameters that can be applied to XP-EHH computation. Please check the list of these parameters here: https://github.com/szpiech/selscan/blob/master/manual/selscan-manual.pdf. Default: "none"


   //begale phasing parameters

   ref_vcf                   = "none"

   //description of "ref_vcf" --> user has an option to provide path to the VCF file of refference panel. Default: "none"

   cm_map                    = "none"

   //description of "cm_map" --> user has an option to provide path to the PLINK format genetic map with cM units. Default: "none"

   burnin_val                = 3

   //description of "burnin_val" --> the maximum number of burnin iterations used to infer genotype phase. Default: 3

   iterations_val            = 12

   //description of "iterations_val" --> the number of iterations used to estimate genotype phase. Default: 12

   impute_status             = false

   //description of "impute_status" --> setting this to "true" will impute markers that are present in the reference panel but absent in that target. This option needs reference panel specified above. Default: false

   ne_val                    = 1000000

   //description of "ne_val" --> the effective population size. Default: 1000000


}
