params{

    treemix                   = false

    //description of "treemix" --> Whether or not to run treemix analyis. Default = false

    n_bootstrap               = 10

   //description of "n_bootstrap" --> Number of bootstrapping to run for treemix analyis without migration edge. Default = 10

    upper_limit               = 30000

   //description of "upper_limit" --> Upper limit of random integer to set for different bootstrapping. Default = 30000

    starting_m_value          = 1
 
   //description of "starting_m_value" --> Number of migration edges to begin with. Default = 1

    ending_m_value            = 10

   //description of "ending_m_value" --> Number of migration edges to end with. Default = 10

    n_iter                    = 3

   //description of "n_iter" -->  Number of iterations to be carried out for each migration edge. Default = 3

    k_snps                    = 500

   //description of "k_snps" --> Number of block of snps in treemix analysis. Default = 500

}
