params {
  config_profile_description = 'The LRZ HPC cluster profile provided by population genomics group, department of Vet. Sciences, LMU, Munich. '
  config_profile_contact = 'Maulik Upadhyay (@BioInf2305)'
  config_profile_url = ''
}

singularity {
  singularity.enabled = true
  singularity.autoMounts = true
  singularity.runOptions = '-B $SINGULARITY_TMPDIR'
  singularity.envWhitelist = ['SINGULARITY_TMPDIR']
}

process {
  executor = 'slurm'
  squeue = "serial_std"
}

params {
  max_memory = 56.GB
  max_cpus = 16
  max_time = '48.h'
}
