params{


    input                     = "${baseDir}/test_files/test_input_vcf.csv"
    outDir                    = "${baseDir}/../test_filt/"
    sample_map                = "${baseDir}/test_files/sample.map"
    concate_vcf_prefix        = "goats"
    geo_plot_yml              = "${baseDir}/parameters/plots/plot_sample_on_map.yml"
    tile_yml                  = "${baseDir}/parameters/plots/tiles_info.yml"
    f_pop_cord                = "${baseDir}/test_files/geo_data.txt"
    f_pop_color               = "${baseDir}/test_files/pop_color.txt"
    fasta                     = "none"
    chrm_map                  = "none"
    allow_extra_chrom         = true 
    max_chrom                 = 2
    outgroup                  = "Urial"
    cm_to_bp                  = 1000000


    apply_indi_filters     = true
    king_cutoff            = 0.20
    rem_indi               = "${baseDir}/test_files/remove_samples.txt"
    mind                   = 0.1
    indiv_summary          = true

    apply_snp_filters      = true
    remove_snps            = "${baseDir}/test_files/remove_sites.txt"
    maf                    = 0.01
    min_meanDP             = -9
    max_meanDP             = -9
    hwe                    = -9
    max_missing            = -9
    minQ                   = -9
}
