params{
    // general parameters

    input                     = "test_files/test_input_vcf.csv"
    outDir                    = "${baseDir}/../test_genstruct/"
    sample_map                = "test_files/sample.map"
    concate_vcf_prefix        = "goats"
    geo_plot_yml              = "${baseDir}/parameters/plots/plot_sample_on_map.yml"
    tile_yml                  = "${baseDir}/parameters/plots/tiles_info.yml"
    f_pop_cord                = "${baseDir}/test_files/geo_data.txt"
    f_pop_color               = "${baseDir}/test_files/pop_color.txt"
    fasta                     = "none"
    chrm_map                  = "none"
    allow_extra_chrom         = true 
    max_chrom                 = 2
    outgroup                  = "Urial"
    cm_to_bp                  = 1000000
    genetic_structure           = true
    run_smartpca                = true
    run_gds_pca                 = true
    ld_filt                     = true
    ld_window_size              = 50
    step_size                   = 10
    r2_value                    = 0.01
    structure_remove_indi       = "none"
    smartpca_param              = "none"
    pop_color_file              = "${baseDir}/test_files/pop_colorPCA.txt"
    f_pop_marker                = "${baseDir}/test_files/pop_shape.txt"
    pca_yaml                    = "${baseDir}/parameters/plots/pca.yml"
    admixture                   = false
    admixture_yaml              = "${baseDir}/parameters/plots/admixture.yml"
    starting_k_value            = 2
    ending_k_value              = 10
    cross_validation            = 5
    termination_criteria        = 0.0001
    plot_pop_order              = "none"
    fst_based_nj_tree           = true
    fst_nj_yml                  = "${baseDir}/parameters/plots/fst_nj.yml"
    est_1_min_ibs_based_nj_tree = true
    ibs_nj_yml                  = "${baseDir}/parameters/plots/ibs_nj.yml"
}
